body {
  font-family: "PT Sans", sans-serif;
}
.container {
  width: min(100%, 1440px);
  margin: auto;
  display: flex;
}

/*header*/

header {
  background-color: #284069;
  height: 100px;
  padding: 53px 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-ul {
  display: flex;
  column-gap: 50px;
}
.inactive,
.active {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.active {
  color: #f56013;
}
.inactive {
  color: #ddeaf8;
}

/* section*/

section {
  background-color: #ddeaf8;
  padding: 94px 98px;
}

h1 {
  width: 232;
  height: 40;
  top: 94px;
  left: 98px;
  font-family: Ubuntu;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  margin-bottom: 54px;
  color: #f56013;
}
.rectangles {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 22px;
}

article {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  background-color: #ffffff;
}

button {
  width: 145px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background-color: #f56013;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  align-self: flex-end;
  color: #ffffff;
  margin: 30px 30px 30px 195px;
}

/* footer */
footer {
  height: 80px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 48px;
    padding-top: 48px
    padding-bottom: 48px;
    background-color: #284069;

}

h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.ul {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 24px;
}

