body {
  font-family: "PT Sans", sans-serif;
}
.container {
  width: min(100%, 1440px);
  margin: auto;
}
/*-----header----*/

header {
  background-color: #284069;
  padding: 53px 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-ul {
  display: flex;
  column-gap: 50px;
}
.inactive,
.active {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.active {
  color: #f56013;
}
.inactive {
  color: #ddeaf8;
}

/* section */

section {
  background-color: #ddeaf8;
  padding: 94px 98px;
}

h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  margin-top: 94px;
  margin-bottom: 54px;
  color: #f56013;
}
.cards {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 30px 22px;
  margin-top: 54px;
}

article {
  /* align-items: center;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 354px;
  border-radius: 10px;
  padding: 30px;
  background-color: #ffffff;
}

button {
  width: 145px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background-color: #f56013;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  align-self: flex-end;
  color: #ffffff;
  margin-bottom: 54px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 48px 0;
  background-color: #284069;
}

h2 {
  text-decoration: underline;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 48px;
}

.footer-ul {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  margin-top: 24px;
  margin-bottom: 48px;
}
